html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  @include regularText;
  background-color: $c-gray-light;
}

h1, h2, h3, h4, h5, h6 {
  @include headingText;
  color: $c-black-light;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 0.75em;
}
