$c-black-light: #4a4a4a;
$c-gray-light: #f2f2f2;
$c-gray-mid: #e7e7e6;
$c-gray-midd: #d7d7d7;
$c-gray: #989898;

$c-red: #ea2d08;
$c-orange: #ea9510;
$c-yellow: #e7ea13;
$c-green: #1cea34;

$c-fluo-purple: #f8dffe;
$c-fluo-green: #81fdac;
$c-cherry: #ff2c70;
$c-grape: #952df5;
$c-blueberry: #4337ff;
$c-mint: #00bb98;

$c-bubblegum-light: #f8e0fd;
$c-bubblegum: #f1bdfb;
$c-bubblegum-dark: #cd80dd;
