.dashboard-app,
.dashboard,
.powerups-selector {
  width: 100%;
  height: 100%;
  position: relative;
}

.dashboard-title {
  font-size: 2rem;
  padding: 0.4em 0 0.3em;
  margin-bottom: 1em;
  margin-top: 0.4em;
  text-align: center;

  h2 {
    font-size: 4rem;
    margin: 0;
    display: inline-block;
  }

  .dashboard-title-translation {
    margin-left: 0.75em;
    display: inline-block;
  }
}

.dashboard {
  background-color: #fff;
  overflow: hidden;

  .citizen-requests {
    width: 100%;
    padding: 0;
    font-size: 1.4em;
  }

  .index-list {
    width: 100%;
    padding: 0 0.7em;
    font-size: 1.9rem;
  }
}

.btn-dashboard-action {
  line-height: 1.1;
  font-size: 1.8rem;
  padding: 0.5em;
  margin: 0.5em 0;
  min-height: 8rem;

  .text {
    display: block;
  }

  .text-main {
    margin-bottom: 0.2em;
    font-weight: bold;
    font-size: 1.2em;

    &::first-line {
      font-size: 1.3em;
    }
  }

  .text-translation {
    font-size: 1.1em;
  }

  &.disabled, &:disabled {
    color: rgb(255 255 255 / 65%)!important;
  }
}

.btn-show-pollution {
}

.btn-show-noise {
}

.btn-power-ups-activate {
  height: calc(100% - 1em);

  &.disabled {
    opacity: 0.45;
  }
}

.btn-cancel {
  height: calc(100% - 1em)
}
