@use 'buttons';
@use 'colors';

.dashboard-title {
  padding: 0.4em 0 0.3em;
  margin-bottom: 1em;
  margin-top: 0.4em;
  text-align: center;
  font-size: 2em;
  text-transform: uppercase;
  background-color: colors.$c-fluo-green;
  color: black;

  h2 {
    font-size: 2em;
    margin: 0;
    display: inline-block;
    color: black;
    text-transform: uppercase;
  }

  .dashboard-title-translation {
    margin-left: 0.75em;
    display: inline-block;
  }
}

body.dashboard {
  background-color: #fff;
  overflow: hidden;

  .citizen-requests {
    font-size: 1.4em;
    width: 100%;
    padding: 0;
  }

  .index-list {
    font-size: 1.9em;
    width: 100%;
    padding: 0 0.7em;
  }

  .dashboard-title {
    font-size: 2em;
  }
}

.btn-dashboard-action {
  font-size: 1.8em;
  line-height: 1.1;
  border-radius: 6em;
  padding: 0.5em;
  margin: 0.5em 0;
  min-height: 8rem;

  .text {
    display: block;
  }

  .text-main {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 0.2em;

    &::first-line {
      font-size: 1.3em;
    }
  }

  .text-translation {
    font-size: 1.1em;
  }

  &.disabled, &:disabled {
    color: rgb(255 255 255 / 65%)!important;
  }
}

.btn-show-pollution {
  @include buttons.button-variant(#ffffff, colors.$c-cherry, colors.$c-cherry);
}

.btn-show-noise {
  @include buttons.button-variant(#ffffff, colors.$c-grape, colors.$c-grape);
}

.btn-power-ups-activate {
  @include buttons.button-variant(#ffffff, colors.$c-mint, colors.$c-mint);

  height: calc(100% - 1em);

  &.disabled {
    opacity: 0.45;
  }
}

.btn-cancel {
  @include buttons.button-variant(#ffffff, colors.$c-gray-mid, colors.$c-gray-mid);

  color: black;
  height: calc(100% - 1em)
}
