$person-width: 5em;
$person-height: $person-width;
$person-margin: 1em;
$balloon-tip-size: 1.3em;

.citizen-requests {
  background-color: white;
  padding: 1em;

  .request-person {
    display: inline-block;
    vertical-align: top;
    width: $person-width;
    height: $person-height;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: $person-margin;
  }

  .request-balloon {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: calc(100% - (#{$person-width} + #{$person-margin} - #{$balloon-tip-size}));
    border-radius: 0.5em;
    padding: 0.5em 0.8em;
    margin-bottom: 1.5em;
    background-color: $c-gray-mid;
    line-height: 1.2;
    font-size: 1.3em;

    &:after {
      content: " ";
      display: inline-block;
      position: absolute;
      top: $balloon-tip-size * 1.25;
      left: -1 * $balloon-tip-size;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 $balloon-tip-size $balloon-tip-size 0;
      border-color: transparent $c-gray-mid transparent transparent;
    }

    .tileref {
      display: inline-block;

      .tileref-stub {
        display: inline-block;
        width: 0.7em;
        height: 0.7em;
        border-radius: 50%;
        margin-right: 0.15em;
        margin-left: 0.2em;
        outline: 0.15em solid white;
      }
    }
  }

  .request-text-de {
    font-weight: bold;
    margin-bottom: 0.5em;

    .large {
      font-size: 1.4em;
      display: block;
    }
  }

  .request-text-en {
    .large {
      display: block;
    }
  }
}
