@use 'type';

.dev-tools-component,
#accordion-data {
  min-width: 200px;

  & .accordion-item .accordion-header {
    padding: 0;

    & .accordion-button {
      @include type.heading-text;

      padding: 0.5rem 0.75rem;
      background-color: #c58eef;
      color: black;
      text-decoration: none;
    }
  }

  .index-list {
    padding: 1em 0.4em;

    .variables {
      font-size: 0.8em;
    }
  }

  .citizen-requests {
    font-size: 0.65em;
    padding-left: 0;
    padding-right: 0.5em;

    .request-person {
      background-size: 6em;
      background-position: center;
    }
  }

  .goal-debug {
    font-size: 0.9em;
  }
}
