button.city-browser-item {
  display: block;
  width: 100%;
  height: auto;
  border: none;
  padding: 0;

  canvas {
    display: block;
    width: 100%;
    height: auto;
    image-rendering: pixelated;
    border: 3px solid $c-gray;
  }

  &.selected {
    canvas {
      border: 3px solid #000;
    }
  }
}

button.city-browser-item-new {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  background-color: $c-gray;
  &:after {
    content: "+";
    display: block;
    font-size: 4em;
    line-height: 100%;
    text-align: center;
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: white;
  }
  &.selected {
    border: 3px solid #000;
  }
}
