$tile-width: 72px;

[data-component="app-container"] {
  max-width: $tile-width * 16; // Stop resizing at the native map resolution
  max-height: $tile-width * 16; // Stop resizing at the native map resolution
  width: 100%;
  height: 100%;
  text-align: center;
  canvas {
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
  }
}

#accordionData {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(25% - 15px);
  min-width: 200px;

  &>.card>.card-header {
    padding: 0;
    background-color: #c58eef;
    h2 .btn {
      @include headingText;
      color: black;
    }
  }

  .index-list {
    padding: 1em 0.4em;
    .variables {
      font-size: 0.8em;
    }
  }

  .citizen-requests {
    font-size: 0.65em;
    padding-left: 0;
    padding-right: 0.5em;

    .request-person {
      background-size: 6em;
      background-position: center;
    }
  }

  .goal-debug {
    font-size: 0.9em;
  }
}
