$index-description-icon-width: 2.8em;
$index-description-icon-height: 2.8em;

$index-value-icon-width: 3.75em;
$index-value-icon-height: 3.75em;
$index-value-icon-face-ratio: 2/3;
$index-value-icon-margin: 1.25em;

$index-value-icon-face-width: $index-value-icon-width * $index-value-icon-face-ratio;
$index-value-icon-face-height: $index-value-icon-height * $index-value-icon-face-ratio;

$index-value-icon-face-px: ($index-value-icon-width - $index-value-icon-face-width) / 2;
$index-value-icon-face-py: ($index-value-icon-height - $index-value-icon-face-height) / 2;

.index-list {
  background-color: white;
  padding: 1em;

  .index {
    margin-bottom: 0.75em;

    .description {
      display: inline-flex;
      align-items: flex-start;
      flex-direction: column;
      align-content: center;
      flex-wrap: nowrap;
      justify-content: center;
      width: calc(100% - (#{$index-value-icon-width + $index-value-icon-margin}));
      text-overflow: clip;
      background-repeat: no-repeat;
      background-position: left 0.1em;
      background-size: $index-description-icon-width $index-description-icon-height;
      padding-left: $index-description-icon-width + 1.25em;
      min-height: $index-description-icon-height;
      line-height: 1.2;

      .name-main {
        font-weight: bold;
        font-size: 1.3em;
      }
      .name-translation {
        font-size: 1.1em;
      }
    }

    .value {
      position: relative;
      display: inline-block;
      vertical-align: top;
      margin-top: -0.5em;
      width: $index-value-icon-width;
      height: $index-value-icon-height;
      margin-left: $index-value-icon-margin;

      &:before {
        content: " ";
        display: block;
        position: absolute;
        width: $index-value-icon-face-width;
        height: $index-value-icon-face-height;
        top: $index-value-icon-face-py;
        left: $index-value-icon-face-px;
        border-radius: 50%;
        background-color: transparent;
        transition: background-color 0.5s;
      }

      &:after {
        content: " ";
        display: block;
        position: absolute;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center left;
        width: $index-value-icon-width;
        height: $index-value-icon-height;
      }
    }

    &.value-0 .description {
      opacity: 0.5;
    }

    &.value-0 .value {
      &:before {
        background-color: #e7e7e6;
      }
      &:after {
        background-image: url('../../static/openmoji/bw/neutral-face.svg');
        opacity: 0.35;
      }
    }

    &.value-1 .value {
      &:before {
        background-color: #ff5c5c;
      }
      &:after {
        background-image: url('../../static/openmoji/bw/pouting-face.svg');
      }
    }

    &.value-2 .value {
      &:before {
        background-color: #ffa242;
      }
      &:after {
        background-image: url('../../static/openmoji/bw/slightly-frowning-face.svg');
      }
    }

    &.value-3 .value {
      &:before {
        background-color: #ffdf42;
      }
      &:after {
        background-image: url('../../static/openmoji/bw/neutral-face.svg');
      }
    }

    &.value-4 .value {
      &:before {
        background-color: #bfff42;
      }
      &:after {
        background-image: url('../../static/openmoji/bw/slightly-smiling-face.svg');
      }
    }

    &.value-5 .value {
      &:before {
        background-color: #45ff42;
      }
      &:after {
        background-image: url('../../static/openmoji/bw/grinning-face-big-eyes.svg');
      }
    }
  }

  .index-traffic-density .description {
    background-image: url('../../static/icons/traffic-density.svg');
  }

  .index-travel-times .description {
    background-image: url('../../static/icons/travel-times.svg');
  }

  .index-safety .description {
    background-image: url('../../static/icons/safety.svg');
  }

  .index-pollution .description {
    background-image: url('../../static/icons/pollution.svg');
  }

  .index-noise .description {
    background-image: url('../../static/icons/noise.svg');
  }

  .index-green-spaces .description {
    background-image: url('../../static/icons/green-spaces.svg');
  }
}
