.map-editor {
  padding: 0 60px;

  .map-view {
    cursor: url('../../static/fa/pencil-alt-solid.svg') 0 20, auto;
  }
}

.map-editor-palette {
  position: absolute;
  top: 2px;
  left: 2px;
  padding: 4px;
  background-color: white;

  .editor-palette-button {
    display: block;
    width: 40px;
    height: 40px;
    border: none;
    padding: 0;
    background-position: center center;
    background-size: 60%;
    background-repeat: no-repeat;
    margin-bottom: 4px;
    box-sizing: content-box;

    &:last-child {
      margin-bottom: 0;
    }

    &.active {
      border: 2px solid black;
      margin-top: -2px;
      margin-left: -2px;
      margin-right: -2px;
      margin-bottom: 2px;

      &:last-child {
        margin-bottom: -2px;
      }
    }
  }

  .separator {
    height: 6px;
    border-bottom: 6px solid $c-gray-light;
    margin-bottom: 4px;
    margin-left: -4px;
    margin-right: -4px;
  }

  .editor-palette-button-tile-0 {
    background-size: 60% 60%;
  }
}

.btn-copy {
  background-image: url('../../static/fa/copy-regular.svg');
  background-repeat: no-repeat;
  background-position: 6px 8px;
  background-size: 1.2em 1.2em;
  padding-left: 2em;
}
