$palette-spacing: 63px;

.fms-desktop {
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
}

[data-component="app-container"] {
  padding-left: $palette-spacing;
  canvas {
    max-height: calc(100vh - 3rem);
  }
}

.map-editor-palette {
  top: 24px;
  left: 15px;
}

#accordionData {
  position: relative;
  top: auto;
  right: auto;
  width: auto;
}

.citizen-requests {
  .request {
    .request-person {
      width: 3em;
      height: 3em;
    }
    .request-balloon {
      font-size: 1em;
      .large {
        font-size: 1.1em;
      }
    }
  }
}

.btn-dashboard-action {
  font-size: 1em;
}

.powerups-selection {
  margin: 0.5em 0 2em;
  font-size: 1em;
  background-color: white;

  .no-selection {
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: transparent;
  }
}

.power-up-panel {
  background-color: white;
  margin-bottom: 2em;
  padding: 0.5em;

  .btn-dashboard-action {
    margin: 0.5em auto;
    width: calc(100% - 40px);
  }
}

.powerups-selector-main {
  .powerup {
    font-size: 1em;
  }
}
