html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0; }

body {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  background-color: #f2f2f2; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  color: #4a4a4a; }

h2 {
  font-size: 1.5rem;
  margin-bottom: 0.75em; }

[data-component="app-container"] {
  max-width: 1152px;
  max-height: 1152px;
  width: 100%;
  height: 100%;
  text-align: center; }
  [data-component="app-container"] canvas {
    display: inline-block;
    max-width: 100%;
    max-height: 100%; }

.map-view, .map-editor {
  width: 100%;
  height: 100%;
  position: relative; }

.city-map {
  background-color: white;
  position: relative;
  border: 1px solid #fff; }
  .city-map .city-map-tile {
    position: absolute;
    background-color: #4a4a4a;
    border: 1px solid #fff; }

.variable-view {
  width: 100%;
  height: 100%;
  position: relative; }

.variable-map {
  background-color: white;
  position: relative;
  border: 1px solid #fff; }
  .variable-map .variable-map-tile {
    position: absolute;
    background-color: #4a4a4a;
    border: 1px solid #fff; }

.map-editor-palette {
  position: absolute;
  top: 5px;
  left: 5px;
  padding: 4px;
  background-color: white; }
  .map-editor-palette .editor-palette-button {
    display: block;
    width: 40px;
    height: 40px;
    border: none;
    padding: 0;
    background-position: center center;
    background-size: 60%;
    background-repeat: no-repeat;
    margin-bottom: 4px;
    box-sizing: content-box; }
    .map-editor-palette .editor-palette-button:last-child {
      margin-bottom: 0; }
    .map-editor-palette .editor-palette-button.active {
      border: 2px solid black;
      margin-top: -2px;
      margin-left: -2px;
      margin-right: -2px;
      margin-bottom: 2px; }
      .map-editor-palette .editor-palette-button.active:last-child {
        margin-bottom: -2px; }
  .map-editor-palette .separator {
    height: 6px;
    border-bottom: 6px solid #f2f2f2;
    margin-bottom: 4px;
    margin-left: -4px;
    margin-right: -4px; }
  .map-editor-palette .editor-palette-button-tile-0 {
    background-size: 60% 60%; }

.btn-copy {
  background-image: url(0ec8ada5826b33769714.svg);
  background-repeat: no-repeat;
  background-position: 6px 8px;
  background-size: 1.2em 1.2em;
  padding-left: 2em; }

button.city-browser-item {
  display: block;
  width: 100%;
  height: auto;
  border: none;
  padding: 0; }
  button.city-browser-item canvas {
    display: block;
    width: 100%;
    height: auto;
    image-rendering: pixelated;
    border: 3px solid #989898; }
  button.city-browser-item.selected canvas {
    border: 3px solid #000; }

button.city-browser-item-new {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  background-color: #989898; }
  button.city-browser-item-new:after {
    content: "+";
    display: block;
    font-size: 4em;
    line-height: 100%;
    text-align: center;
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: white; }
  button.city-browser-item-new.selected {
    border: 3px solid #000; }

.connection-state-view {
  display: none;
  pointer-events: none;
  position: absolute;
  width: 300px;
  padding-top: 135px;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -150px;
  background-image: url(ead51173b07512a4bf13.svg);
  background-repeat: no-repeat;
  background-size: 100px 100px;
  background-position: 100px 25px;
  font-size: 20px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px; }
  .connection-state-view.visible {
    display: block; }
  .connection-state-view .connection-state-view-error {
    font-weight: bold; }
  .connection-state-view .connection-state-view-status {
    font-size: 0.85em;
    margin-bottom: 1.2em; }

.fatal-error {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(92, 6, 6, 0.85);
  background-image: url(790c86d2b123a19c0a4a.svg);
  background-size: 100px 100px;
  background-repeat: no-repeat;
  background-position: center 50px;
  padding-top: 160px; }
  .fatal-error .fatal-error-text {
    color: white;
    font-size: 20px;
    text-align: center;
    top: 100px;
    left: 50%;
    width: 600px;
    margin: auto;
    margin-bottom: 0.5em;
    padding-left: 15px;
    padding-right: 15px; }
  .fatal-error .fatal-error-details {
    color: white;
    font-size: 16px;
    text-align: center;
    width: 600px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px; }

html.with-fatal-error {
  width: 100%;
  height: 100%; }
  html.with-fatal-error body {
    width: 100%;
    height: 100%;
    overflow: hidden; }

.tile-counter {
  background-color: white;
  padding: 0.5em; }
  .tile-counter .label {
    font-weight: bold; }
  .tile-counter ul {
    padding: 0; }
    .tile-counter ul li {
      list-style: none;
      padding: 0;
      margin: 0;
      margin-bottom: 0.2em; }

body > .counters {
  position: absolute;
  width: 250px;
  right: 5px;
  top: 5px; }

.zone-balance {
  background-color: white;
  padding: 0.5em; }
  .zone-balance .bar {
    display: inline-block;
    width: 4em;
    position: relative; }
    .zone-balance .bar .label {
      font-weight: bold;
      position: absolute;
      left: 0.8em;
      top: 2.3em; }
    .zone-balance .bar .status {
      width: 2em;
      height: 1.5em;
      border: 2px solid white;
      margin-left: 2em; }
    .zone-balance .bar .over, .zone-balance .bar .under {
      margin-left: 2em; }
      .zone-balance .bar .over > div, .zone-balance .bar .under > div {
        width: 2em;
        height: 0.75em;
        border: 2px solid white;
        visibility: hidden; }
    .zone-balance .bar .over > div {
      border-bottom: none; }
    .zone-balance .bar .under > div {
      border-top: none; }
    .zone-balance .bar .status, .zone-balance .bar .over > div, .zone-balance .bar .under > div {
      background-color: #1cea34; }
    .zone-balance .bar.p1 .status, .zone-balance .bar.p1 .over > div, .zone-balance .bar.p1 .under > div, .zone-balance .bar.m1 .status, .zone-balance .bar.m1 .over > div, .zone-balance .bar.m1 .under > div {
      background-color: #e7ea13; }
    .zone-balance .bar.p2 .status, .zone-balance .bar.p2 .over > div, .zone-balance .bar.p2 .under > div, .zone-balance .bar.m2 .status, .zone-balance .bar.m2 .over > div, .zone-balance .bar.m2 .under > div {
      background-color: #ea9510; }
    .zone-balance .bar.p3 .status, .zone-balance .bar.p3 .over > div, .zone-balance .bar.p3 .under > div, .zone-balance .bar.m3 .status, .zone-balance .bar.m3 .over > div, .zone-balance .bar.m3 .under > div {
      background-color: #ea2d08; }
    .zone-balance .bar.p1 .over > div:nth-child(3) {
      visibility: visible; }
    .zone-balance .bar.p2 .over > div:nth-child(3), .zone-balance .bar.p2 .over > div:nth-child(2) {
      visibility: visible; }
    .zone-balance .bar.p3 .over > div:nth-child(3), .zone-balance .bar.p3 .over > div:nth-child(2), .zone-balance .bar.p3 .over > div:nth-child(1) {
      visibility: visible; }
    .zone-balance .bar.m1 .under > div:nth-child(1) {
      visibility: visible; }
    .zone-balance .bar.m2 .under > div:nth-child(1), .zone-balance .bar.m2 .under > div:nth-child(2) {
      visibility: visible; }
    .zone-balance .bar.m3 .under > div:nth-child(1), .zone-balance .bar.m3 .under > div:nth-child(2), .zone-balance .bar.m3 .under > div:nth-child(3) {
      visibility: visible; }

body > .tile-counter {
  position: absolute;
  width: 250px;
  right: 5px;
  top: 5px; }


/*# sourceMappingURL=city.d38564e74e65f3fc3529.css.map*/