html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0; }

body {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  background-color: #f2f2f2; }
  body.bg-black {
    background-color: #000; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  color: #4a4a4a; }

h2 {
  font-size: 1.5em;
  margin-bottom: 0.75em; }

.h-82 {
  height: 82% !important; }

.h-18 {
  height: 18% !important; }

[data-component="app-container"] {
  max-width: 1152px;
  max-height: 1152px;
  width: 100%;
  height: 100%;
  text-align: center; }
  [data-component="app-container"] canvas {
    display: inline-block;
    max-width: 100%;
    max-height: 100%; }

#accordionData {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(25% - 15px);
  min-width: 200px; }
  #accordionData > .card > .card-header {
    padding: 0;
    background-color: #c58eef; }
    #accordionData > .card > .card-header h2 .btn {
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: 700;
      color: black; }

.map-view, .map-editor {
  width: 100%;
  height: 100%;
  position: relative; }

.city-map {
  background-color: white;
  position: relative;
  border: 1px solid #fff; }
  .city-map .city-map-tile {
    position: absolute;
    background-color: #4a4a4a;
    border: 1px solid #fff; }

.variable-view {
  width: 100%;
  height: 100%;
  position: relative; }

.variable-map {
  background-color: white;
  position: relative;
  border: 1px solid #fff; }
  .variable-map .variable-map-tile {
    position: absolute;
    background-color: #4a4a4a;
    border: 1px solid #fff; }

.map-editor-palette {
  position: absolute;
  top: 5px;
  left: 5px;
  padding: 4px;
  background-color: white; }
  .map-editor-palette .editor-palette-button {
    display: block;
    width: 40px;
    height: 40px;
    border: none;
    padding: 0;
    background-position: center center;
    background-size: 60%;
    background-repeat: no-repeat;
    margin-bottom: 4px;
    box-sizing: content-box; }
    .map-editor-palette .editor-palette-button:last-child {
      margin-bottom: 0; }
    .map-editor-palette .editor-palette-button.active {
      border: 2px solid black;
      margin-top: -2px;
      margin-left: -2px;
      margin-right: -2px;
      margin-bottom: 2px; }
      .map-editor-palette .editor-palette-button.active:last-child {
        margin-bottom: -2px; }
  .map-editor-palette .separator {
    height: 6px;
    border-bottom: 6px solid #f2f2f2;
    margin-bottom: 4px;
    margin-left: -4px;
    margin-right: -4px; }
  .map-editor-palette .editor-palette-button-tile-0 {
    background-size: 60% 60%; }

.btn-copy {
  background-image: url(0ec8ada5826b33769714.svg);
  background-repeat: no-repeat;
  background-position: 6px 8px;
  background-size: 1.2em 1.2em;
  padding-left: 2em; }

button.city-browser-item {
  display: block;
  width: 100%;
  height: auto;
  border: none;
  padding: 0; }
  button.city-browser-item canvas {
    display: block;
    width: 100%;
    height: auto;
    image-rendering: pixelated;
    border: 3px solid #989898; }
  button.city-browser-item.selected canvas {
    border: 3px solid #000; }

button.city-browser-item-new {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  background-color: #989898; }
  button.city-browser-item-new:after {
    content: "+";
    display: block;
    font-size: 4em;
    line-height: 100%;
    text-align: center;
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: white; }
  button.city-browser-item-new.selected {
    border: 3px solid #000; }

.connection-state-view {
  display: none;
  pointer-events: none;
  position: absolute;
  width: 300px;
  padding-top: 135px;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -150px;
  background-image: url(ead51173b07512a4bf13.svg);
  background-repeat: no-repeat;
  background-size: 100px 100px;
  background-position: 100px 25px;
  font-size: 20px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px; }
  .connection-state-view.visible {
    display: block; }
  .connection-state-view .connection-state-view-error {
    font-weight: bold; }
  .connection-state-view .connection-state-view-status {
    font-size: 0.85em;
    margin-bottom: 1.2em; }

.fatal-error {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(92, 6, 6, 0.85);
  background-image: url(790c86d2b123a19c0a4a.svg);
  background-size: 100px 100px;
  background-repeat: no-repeat;
  background-position: center 50px;
  padding-top: 160px; }
  .fatal-error .fatal-error-text {
    color: white;
    font-size: 20px;
    text-align: center;
    top: 100px;
    left: 50%;
    width: 600px;
    margin: auto;
    margin-bottom: 0.5em;
    padding-left: 15px;
    padding-right: 15px; }
  .fatal-error .fatal-error-details {
    color: white;
    font-size: 16px;
    text-align: center;
    width: 600px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px; }

html.with-fatal-error {
  width: 100%;
  height: 100%; }
  html.with-fatal-error body {
    width: 100%;
    height: 100%;
    overflow: hidden; }

.tile-counter {
  background-color: white;
  padding: 0.5em; }
  .tile-counter .label {
    font-weight: bold; }
  .tile-counter ul {
    padding: 0; }
    .tile-counter ul li {
      list-style: none;
      padding: 0;
      margin: 0;
      margin-bottom: 0.2em; }

body > .counters {
  position: absolute;
  width: 250px;
  right: 5px;
  top: 5px; }

.zone-balance {
  background-color: white;
  padding: 0.5em; }
  .zone-balance .bar {
    display: inline-block;
    width: 4em;
    position: relative; }
    .zone-balance .bar .label {
      font-weight: bold;
      position: absolute;
      left: 0.8em;
      top: 2.3em; }
    .zone-balance .bar .status {
      width: 2em;
      height: 1.5em;
      border: 2px solid white;
      margin-left: 2em; }
    .zone-balance .bar .over, .zone-balance .bar .under {
      margin-left: 2em; }
      .zone-balance .bar .over > div, .zone-balance .bar .under > div {
        width: 2em;
        height: 0.75em;
        border: 2px solid white;
        visibility: hidden; }
    .zone-balance .bar .over > div {
      border-bottom: none; }
    .zone-balance .bar .under > div {
      border-top: none; }
    .zone-balance .bar .status, .zone-balance .bar .over > div, .zone-balance .bar .under > div {
      background-color: #1cea34; }
    .zone-balance .bar.p1 .status, .zone-balance .bar.p1 .over > div, .zone-balance .bar.p1 .under > div, .zone-balance .bar.m1 .status, .zone-balance .bar.m1 .over > div, .zone-balance .bar.m1 .under > div {
      background-color: #e7ea13; }
    .zone-balance .bar.p2 .status, .zone-balance .bar.p2 .over > div, .zone-balance .bar.p2 .under > div, .zone-balance .bar.m2 .status, .zone-balance .bar.m2 .over > div, .zone-balance .bar.m2 .under > div {
      background-color: #ea9510; }
    .zone-balance .bar.p3 .status, .zone-balance .bar.p3 .over > div, .zone-balance .bar.p3 .under > div, .zone-balance .bar.m3 .status, .zone-balance .bar.m3 .over > div, .zone-balance .bar.m3 .under > div {
      background-color: #ea2d08; }
    .zone-balance .bar.p1 .over > div:nth-child(3) {
      visibility: visible; }
    .zone-balance .bar.p2 .over > div:nth-child(3), .zone-balance .bar.p2 .over > div:nth-child(2) {
      visibility: visible; }
    .zone-balance .bar.p3 .over > div:nth-child(3), .zone-balance .bar.p3 .over > div:nth-child(2), .zone-balance .bar.p3 .over > div:nth-child(1) {
      visibility: visible; }
    .zone-balance .bar.m1 .under > div:nth-child(1) {
      visibility: visible; }
    .zone-balance .bar.m2 .under > div:nth-child(1), .zone-balance .bar.m2 .under > div:nth-child(2) {
      visibility: visible; }
    .zone-balance .bar.m3 .under > div:nth-child(1), .zone-balance .bar.m3 .under > div:nth-child(2), .zone-balance .bar.m3 .under > div:nth-child(3) {
      visibility: visible; }

body > .tile-counter {
  position: absolute;
  width: 250px;
  right: 5px;
  top: 5px; }

.data-inspector .indicator {
  font-size: 0.85em; }
  .data-inspector .indicator .label {
    font-weight: bold; }

.index-list {
  background-color: white;
  padding: 1em; }
  .index-list .index {
    margin-bottom: 0.75em; }
    .index-list .index .description {
      display: inline-block;
      width: calc(100% - (5em));
      text-overflow: clip;
      background-repeat: no-repeat;
      background-position: left 0.1em;
      background-size: 2.8em 2.8em;
      padding-left: 4.05em;
      min-height: 2.8em;
      line-height: 1.2; }
      .index-list .index .description .name {
        font-weight: bold;
        font-size: 1.3em; }
      .index-list .index .description .name-tr {
        font-size: 1.1em; }
    .index-list .index .value {
      position: relative;
      display: inline-block;
      vertical-align: top;
      margin-top: -0.5em;
      width: 3.75em;
      height: 3.75em;
      margin-left: 1.25em; }
      .index-list .index .value:before {
        content: " ";
        display: block;
        position: absolute;
        width: 2.5em;
        height: 2.5em;
        top: 0.625em;
        left: 0.625em;
        border-radius: 50%;
        background-color: transparent;
        transition: background-color 0.5s; }
      .index-list .index .value:after {
        content: " ";
        display: block;
        position: absolute;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center left;
        width: 3.75em;
        height: 3.75em; }
    .index-list .index.value-0 .description {
      opacity: 0.5; }
    .index-list .index.value-0 .value:before {
      background-color: #e7e7e6; }
    .index-list .index.value-0 .value:after {
      background-image: url(8b808f3edfdf875e86d2.svg);
      opacity: 0.35; }
    .index-list .index.value-1 .value:before {
      background-color: #ff5c5c; }
    .index-list .index.value-1 .value:after {
      background-image: url(a6d7bdb36bd21ada45b9.svg); }
    .index-list .index.value-2 .value:before {
      background-color: #ffa242; }
    .index-list .index.value-2 .value:after {
      background-image: url(1cb78a1510cb4cef0fed.svg); }
    .index-list .index.value-3 .value:before {
      background-color: #ffdf42; }
    .index-list .index.value-3 .value:after {
      background-image: url(8b808f3edfdf875e86d2.svg); }
    .index-list .index.value-4 .value:before {
      background-color: #bfff42; }
    .index-list .index.value-4 .value:after {
      background-image: url(d79c03b62c63dca4b5e2.svg); }
    .index-list .index.value-5 .value:before {
      background-color: #45ff42; }
    .index-list .index.value-5 .value:after {
      background-image: url(a942db90fa7291bf1050.svg); }
  .index-list .index-traffic-density .description {
    background-image: url(632918cbe7876db6dd7b.svg); }
  .index-list .index-travel-times .description {
    background-image: url(32578fbf9f9c7c5cb17d.svg); }
  .index-list .index-safety .description {
    background-image: url(c0a1c68efaaa0ac826ae.svg); }
  .index-list .index-pollution .description {
    background-image: url(9e13219ed882649a1544.svg); }
  .index-list .index-noise .description {
    background-image: url(16a610a8640593ac1246.svg); }
  .index-list .index-green-spaces .description {
    background-image: url(1046d3ab27581bd9a7ba.svg); }

.citizen-requests {
  background-color: white;
  padding: 1em; }
  .citizen-requests .request-person {
    display: inline-block;
    vertical-align: top;
    width: 5em;
    height: 5em;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 1em; }
  .citizen-requests .request-balloon {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: calc(100% - (5em + 1em - 1.3em));
    border-radius: 0.5em;
    padding: 0.5em 0.8em;
    margin-bottom: 1.5em;
    background-color: #e7e7e6;
    line-height: 1.2;
    font-size: 1.3em; }
    .citizen-requests .request-balloon:after {
      content: " ";
      display: inline-block;
      position: absolute;
      top: 1.625em;
      left: -1.3em;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 1.3em 1.3em 0;
      border-color: transparent #e7e7e6 transparent transparent; }
    .citizen-requests .request-balloon .tileref {
      display: inline-block; }
      .citizen-requests .request-balloon .tileref .tileref-stub {
        display: inline-block;
        width: 0.7em;
        height: 0.7em;
        border-radius: 50%;
        margin-right: 0.15em;
        margin-left: 0.2em;
        outline: 0.15em solid white; }
  .citizen-requests .request-text-de {
    font-weight: bold;
    margin-bottom: 0.5em; }
    .citizen-requests .request-text-de .large {
      font-size: 1.4em;
      display: block; }
  .citizen-requests .request-text-en .large {
    display: block; }

.powerups-selector-main > .row {
  height: calc(100% - 9em); }

.powerups-selector-main .powerup-container {
  height: 100%; }

.powerups-selector-main .powerup {
  border: none;
  padding: 0;
  margin: 0;
  background-color: #f8dffe;
  border-radius: 0.5em;
  font-size: 2em;
  height: 100%; }
  .powerups-selector-main .powerup:active {
    background-color: #edaefc; }
  .powerups-selector-main .powerup .title {
    padding: 1em;
    text-align: center;
    border-radius: 0.5em;
    margin-bottom: 0.5em; }
    .powerups-selector-main .powerup .title .text-main {
      font-size: 1.6em;
      font-weight: bold;
      line-height: 1.1; }
    .powerups-selector-main .powerup .title .text-translation {
      font-size: 1.3em; }
  .powerups-selector-main .powerup .image {
    height: 0;
    padding-bottom: 40%;
    margin-top: -1em;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center; }
  .powerups-selector-main .powerup .description {
    padding: 1em;
    font-size: 1.05em;
    line-height: 1.3; }
    .powerups-selector-main .powerup .description .text-main {
      font-weight: bold;
      margin-bottom: 0.5em; }

.powerups-selection {
  font-size: 1.8em; }
  .powerups-selection .no-selection {
    font-size: 1.4em;
    text-align: center;
    margin-top: 5em;
    background-color: #f2f2f2;
    padding: 1em;
    width: 80%;
    margin-left: 10%;
    border-radius: 0.5em; }
    .powerups-selection .no-selection .text-de {
      font-weight: bold;
      margin-bottom: 1em; }
  .powerups-selection .powerup {
    border: none;
    padding: 0 0 0.7em;
    margin: 0 0 1em;
    background-color: #f1bdfb;
    border-radius: 0.5em; }
    .powerups-selection .powerup .title {
      padding: 1em;
      text-align: left; }
      .powerups-selection .powerup .title .text-main {
        font-size: 1.4em;
        font-weight: bold;
        line-height: 1.1; }
      .powerups-selection .powerup .title .text-translation {
        font-size: 1.2em; }
    .powerups-selection .powerup .btn-power-ups-disable {
      background-color: #f8e0fd;
      background-image: url(4dce12aa34f5f4555b5f.svg);
      background-position: left center;
      background-repeat: no-repeat;
      background-size: contain;
      text-align: left;
      font-size: 1.2em;
      border-radius: 1em;
      width: 94%;
      margin-left: 3%;
      padding: 0.4em 0 0.4em 2.4em; }
      .powerups-selection .powerup .btn-power-ups-disable .text-main {
        font-weight: bold; }
      .powerups-selection .powerup .btn-power-ups-disable .text-translation {
        margin-left: 0.7em; }
      .powerups-selection .powerup .btn-power-ups-disable:active {
        background-color: #e280f7; }

body.dashboard {
  background-color: #fff;
  overflow: hidden; }
  body.dashboard .citizen-requests {
    font-size: 1.4em;
    width: 100%;
    padding: 0; }
  body.dashboard .index-list {
    font-size: 1.9em;
    width: 100%;
    padding: 0 0.7em; }
  body.dashboard .dashboard-title {
    font-size: 2em; }

.dashboard-title {
  padding: 0.4em 0 0.3em;
  margin-bottom: 1em;
  margin-top: 0.4em;
  text-align: center;
  font-size: 2em;
  text-transform: uppercase;
  background-color: #81fdac;
  color: black; }
  .dashboard-title h2 {
    font-size: 2em;
    margin: 0;
    display: inline-block;
    color: black;
    text-transform: uppercase; }
  .dashboard-title .dashboard-title-translation {
    margin-left: 0.75em;
    display: inline-block; }

.btn-dashboard-action {
  font-size: 1.8em;
  line-height: 1.1;
  border-radius: 6em;
  padding: 0.5em 0.5em;
  margin: 0.5em 0; }
  .btn-dashboard-action .large {
    font-size: 1.2em; }
  .btn-dashboard-action .text {
    display: block; }
  .btn-dashboard-action .text-de {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 0.2em; }
  .btn-dashboard-action .text-en {
    font-size: 1.15em; }
  .btn-dashboard-action.disabled {
    color: rgba(255, 255, 255, 0.65) !important; }

.btn-show-pollution {
  color: #ffffff;
  background-color: #ff2c70;
  border-color: #ff2c70; }
  .btn-show-pollution:focus, .btn-show-pollution.focus {
    color: #ffffff;
    background-color: #f80050;
    border-color: #ac0037; }
  .btn-show-pollution:hover {
    color: #ffffff;
    background-color: #f80050;
    border-color: #ee004d; }
  .btn-show-pollution:active, .btn-show-pollution.active,
  .open > .btn-show-pollution.dropdown-toggle {
    color: #ffffff;
    background-color: #f80050;
    background-image: none;
    border-color: #ee004d; }
    .btn-show-pollution:active:hover, .btn-show-pollution:active:focus, .btn-show-pollution:active.focus, .btn-show-pollution.active:hover, .btn-show-pollution.active:focus, .btn-show-pollution.active.focus,
    .open > .btn-show-pollution.dropdown-toggle:hover,
    .open > .btn-show-pollution.dropdown-toggle:focus,
    .open > .btn-show-pollution.dropdown-toggle.focus {
      color: #ffffff;
      background-color: #d40044;
      border-color: #ac0037; }
  .btn-show-pollution.disabled:hover, .btn-show-pollution.disabled:focus, .btn-show-pollution.disabled.focus, .btn-show-pollution[disabled]:hover, .btn-show-pollution[disabled]:focus, .btn-show-pollution[disabled].focus,
  fieldset[disabled] .btn-show-pollution:hover,
  fieldset[disabled] .btn-show-pollution:focus,
  fieldset[disabled] .btn-show-pollution.focus {
    background-color: #ff2c70;
    border-color: #ff2c70; }
  .btn-show-pollution .badge {
    color: #ff2c70;
    background-color: #ffffff; }

.btn-show-noise {
  color: #ffffff;
  background-color: #952df5;
  border-color: #952df5; }
  .btn-show-noise:focus, .btn-show-noise.focus {
    color: #ffffff;
    background-color: #7c0be4;
    border-color: #54079b; }
  .btn-show-noise:hover {
    color: #ffffff;
    background-color: #7c0be4;
    border-color: #770ada; }
  .btn-show-noise:active, .btn-show-noise.active,
  .open > .btn-show-noise.dropdown-toggle {
    color: #ffffff;
    background-color: #7c0be4;
    background-image: none;
    border-color: #770ada; }
    .btn-show-noise:active:hover, .btn-show-noise:active:focus, .btn-show-noise:active.focus, .btn-show-noise.active:hover, .btn-show-noise.active:focus, .btn-show-noise.active.focus,
    .open > .btn-show-noise.dropdown-toggle:hover,
    .open > .btn-show-noise.dropdown-toggle:focus,
    .open > .btn-show-noise.dropdown-toggle.focus {
      color: #ffffff;
      background-color: #6909c2;
      border-color: #54079b; }
  .btn-show-noise.disabled:hover, .btn-show-noise.disabled:focus, .btn-show-noise.disabled.focus, .btn-show-noise[disabled]:hover, .btn-show-noise[disabled]:focus, .btn-show-noise[disabled].focus,
  fieldset[disabled] .btn-show-noise:hover,
  fieldset[disabled] .btn-show-noise:focus,
  fieldset[disabled] .btn-show-noise.focus {
    background-color: #952df5;
    border-color: #952df5; }
  .btn-show-noise .badge {
    color: #952df5;
    background-color: #ffffff; }

.btn-power-ups-activate {
  color: #ffffff;
  background-color: #00bb98;
  border-color: #00bb98;
  height: calc(100% - 1em); }
  .btn-power-ups-activate:focus, .btn-power-ups-activate.focus {
    color: #ffffff;
    background-color: #00886f;
    border-color: #003c30; }
  .btn-power-ups-activate:hover {
    color: #ffffff;
    background-color: #00886f;
    border-color: #007e66; }
  .btn-power-ups-activate:active, .btn-power-ups-activate.active,
  .open > .btn-power-ups-activate.dropdown-toggle {
    color: #ffffff;
    background-color: #00886f;
    background-image: none;
    border-color: #007e66; }
    .btn-power-ups-activate:active:hover, .btn-power-ups-activate:active:focus, .btn-power-ups-activate:active.focus, .btn-power-ups-activate.active:hover, .btn-power-ups-activate.active:focus, .btn-power-ups-activate.active.focus,
    .open > .btn-power-ups-activate.dropdown-toggle:hover,
    .open > .btn-power-ups-activate.dropdown-toggle:focus,
    .open > .btn-power-ups-activate.dropdown-toggle.focus {
      color: #ffffff;
      background-color: #006452;
      border-color: #003c30; }
  .btn-power-ups-activate.disabled:hover, .btn-power-ups-activate.disabled:focus, .btn-power-ups-activate.disabled.focus, .btn-power-ups-activate[disabled]:hover, .btn-power-ups-activate[disabled]:focus, .btn-power-ups-activate[disabled].focus,
  fieldset[disabled] .btn-power-ups-activate:hover,
  fieldset[disabled] .btn-power-ups-activate:focus,
  fieldset[disabled] .btn-power-ups-activate.focus {
    background-color: #00bb98;
    border-color: #00bb98; }
  .btn-power-ups-activate .badge {
    color: #00bb98;
    background-color: #ffffff; }
  .btn-power-ups-activate.disabled {
    opacity: 0.45; }

.btn-cancel {
  color: #ffffff;
  background-color: #e7e7e6;
  border-color: #e7e7e6;
  color: black;
  height: calc(100% - 1em); }
  .btn-cancel:focus, .btn-cancel.focus {
    color: #ffffff;
    background-color: #cececc;
    border-color: #a9a9a5; }
  .btn-cancel:hover {
    color: #ffffff;
    background-color: #cececc;
    border-color: #c9c9c7; }
  .btn-cancel:active, .btn-cancel.active,
  .open > .btn-cancel.dropdown-toggle {
    color: #ffffff;
    background-color: #cececc;
    background-image: none;
    border-color: #c9c9c7; }
    .btn-cancel:active:hover, .btn-cancel:active:focus, .btn-cancel:active.focus, .btn-cancel.active:hover, .btn-cancel.active:focus, .btn-cancel.active.focus,
    .open > .btn-cancel.dropdown-toggle:hover,
    .open > .btn-cancel.dropdown-toggle:focus,
    .open > .btn-cancel.dropdown-toggle.focus {
      color: #ffffff;
      background-color: #bdbdba;
      border-color: #a9a9a5; }
  .btn-cancel.disabled:hover, .btn-cancel.disabled:focus, .btn-cancel.disabled.focus, .btn-cancel[disabled]:hover, .btn-cancel[disabled]:focus, .btn-cancel[disabled].focus,
  fieldset[disabled] .btn-cancel:hover,
  fieldset[disabled] .btn-cancel:focus,
  fieldset[disabled] .btn-cancel.focus {
    background-color: #e7e7e6;
    border-color: #e7e7e6; }
  .btn-cancel .badge {
    color: #e7e7e6;
    background-color: #ffffff; }

body.dashboard .slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transition: left 1s; }

body.dashboard .powerups-selector-bottom {
  margin-right: -25%;
  transition: margin-right 0s 1s; }

body.dashboard .col-powerup-selector-item {
  opacity: 0; }

body.dashboard .col-powerup-selector-item:nth-child(1) {
  transition: opacity 0s 1s; }

body.dashboard .col-powerup-selector-item:nth-child(2) {
  transition: opacity 0s 1s; }

body.dashboard .col-powerup-selector-item:nth-child(3) {
  transition: opacity 0s 1s; }

body.dashboard #slide-2 .dashboard-title {
  transition: margin-top 0s 1s, margin-bottom 0s 1s;
  margin-top: -10%;
  margin-bottom: calc(10% + 1em); }

body.dashboard #slide-1 {
  left: 0; }

body.dashboard #slide-2 {
  left: 100%; }

body.dashboard #slide-3 {
  left: 200%; }

body.dashboard[data-show-slide='2'] #slide-1 {
  left: -100%; }

body.dashboard[data-show-slide='2'] #slide-2 {
  left: 0; }

body.dashboard[data-show-slide='2'] #slide-3 {
  left: 100%; }

body.dashboard[data-show-slide='2'] .powerups-selector-bottom {
  margin-right: 0;
  transition: margin-right 1s 1s; }

body.dashboard[data-show-slide='2'] #slide-2 .dashboard-title {
  transition: margin-top 1s 1s, margin-bottom 1s 1s;
  margin-top: 0.4em;
  margin-bottom: 1em; }

body.dashboard[data-show-slide='2'] .col-powerup-selector-item {
  opacity: 1; }

body.dashboard[data-show-slide='2'] .col-powerup-selector-item:nth-child(1) {
  transition: opacity 1s 1.3s; }

body.dashboard[data-show-slide='2'] .col-powerup-selector-item:nth-child(2) {
  transition: opacity 1s 1.6s; }

body.dashboard[data-show-slide='2'] .col-powerup-selector-item:nth-child(3) {
  transition: opacity 1s 1.9s; }

body.dashboard[data-show-slide='3'] #slide-1 {
  left: -200%; }

body.dashboard[data-show-slide='3'] #slide-2 {
  left: -100%; }

body.dashboard[data-show-slide='3'] #slide-3 {
  left: 0; }


/*# sourceMappingURL=default.3b18b068a0c62efb8b9b.css.map*/